<div class="container text-center">
    <h1>How it works</h1>

    <p>Thanks to Hotel Job Match, hotels can find the right candidate for the right mission.</p>
    <p>On the other hand, job seekers can browse through hundred of thousands job missions</p>

    <p>We are convinced that talent can only be human.
        Talent is not a commodity. It doesn't sell out. It does not undersell itself.
        It is not automated. On the contrary, we believe that talent must be free to perform.

        We are convinced that creativity is born from encounters and that proximity is one of the keys to success. The
        most
        beautiful adventures are always born from a mix of skills, as well as from transparent and friendly exchanges.

        We connect freelancers and companies, but we go further.
        We create the conditions for their exchanges to be fluid and their projects ambitious.

        We are committed to enabling each member of our community to develop in their work, to be autonomous and to make
        their choices as close as possible to who they really are.</p>

    <img src="images/staff.jpg" alt="Hotel staff">
</div>