* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
header {
  position: sticky;
  top: 0;
  z-index: 1071;
  background-color: white;
  font-size: 18px;
}

.index {
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  height: 90vh;
  margin: 0;
  background-image: url("./../images/hotel.jpg");
  
}

.btn-index {
  height: 200px;
  width: 400px;
  padding: 20px 40px;
  background-color: white;
  font-size: 24px;
  border: none;
  border-radius: 40%;
}
.titre-index {
  color: white;
  font-size: 60px;
  padding-bottom: 50px;
}

.div-titre-btn {
  margin-right: 50%;
  margin-top: 15%;
}

.all-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.one-card{
  margin-bottom: 15px;

}

.one-card:hover{
  
}
